<div class="container">

  <div>
    <!-- 二维码 -->
    <qr-code [value]="'All QR Code data goes here!'" size="300" background="#f2f1f1" padding="30"></qr-code>

    <!-- 打印 -->
    <essence-ng2-print [mode]="'iframe'" [btnText]="'打印表格'" [btnClass]="{'btn': true, 'btn-info': true}"
      [printHTML]="print" [printStyle]="printStyle" [printCSS]="printCSS" [showBtn]="printBtnBoolean"
      (click)="beforePrint()" (printComplete)="printComplete()">
    </essence-ng2-print>
  </div>

  <div class="row" #print>
    <div class="col-sm-12 col-md-4">
      <form [formGroup]="formModel" (submit)="onSubmit()">
        <div>用户名：<input type="text" formControlName="username" (keyup.enter)='enterEvent()'> </div>
        <div [hidden]="formModel.get('username').valid || formModel.get('username').untouched ">
          <!--untouched用户是否操作 
        <div [hidden]="formModel.controls.username.valid || formModel.controls.username.untouched ">  -->
          <div *ngIf="formModel.hasError('required','username')">用户名必填</div>
          <div *ngIf="formModel.hasError('minlength','username')">用户名最小长度是6</div>
          <div *ngIf="formModel.controls.username.hasError('required')">用户名必填</div>
          <div *ngIf="formModel.controls.username.hasError('minlength')">用户名最小长度是6</div>
        </div>

        <!-- hasError(返回的键值对的键名,检查的字段名) -->
        <div>手机号：<input type="text" formControlName="mobile"> </div>
        <div formGroupName="passwordsGroup">
          <div>密码：<input type="password" formControlName="password"> </div>
          <div *ngIf="formModel.hasError('minlength',['passwordsGroup','password'])">密码最小长度是6</div>
          <div>确认密码：<input type="password" formControlName="pconfirm"> </div>
          <div *ngIf="formModel.hasError('equal','passwordsGroup')">
            {{formModel.getError('equal','passwordsGroup')?.describe}}！
          </div>
        </div>
        <button class="btn btn-success" type="submit">注册</button>
      </form>
    </div>

    <div class="col-sm-12 col-md-4">
      <form [formGroup]="formModel2" (submit)="onSubmit2()">
        <div>用户名：<input type="text" formControlName="username"> </div>
        <div formGroupName="dateRange">
          起始日期：
          <input type="date" formControlName="from"> <br>
          截止日期：
          <input type="date" formControlName="to">
        </div>

        <div formArrayName="emails">
          <ul>
            <li *ngFor="let e of formModel2.get('emails').controls;let i=index;">
              <input type="text" [formControlName]="i">
            </li>
          </ul>
        </div>
        <!-- 
          <button type="button" (click)="addEmail()">增加Email</button>
          <button type="submit">保存</button>
         -->
        <button type="button" nz-button nzType="primary" (click)="addEmail()">增加Email</button>
        <button type="button" nz-button nzType="default" type="submit">保存</button>
        <button type="button" nz-button nzType="default" (click)="delete()">删除路由复用</button>
      </form>
    </div>

    <div class="col-sm-12 col-md-4">
      <ul style="list-style:none">
        <li>姓名：<input type="text" [(ngModel)]="personInfo.username"></li>
        <li>性别：
          <input type="radio" value="1" name="sex" id="sex1" [(ngModel)]="personInfo.sex"><label for="sex1">男</label>
          <input type="radio" value="2" name="sex" id="sex2" [(ngModel)]="personInfo.sex"><label for="sex2">女</label>
        </li>
        <li>城市：
          <select name="city" id="city" [(ngModel)]="personInfo.city">
            <option *ngFor="let item of personInfo.cityList" [value]="item">{{item}}</option>
          </select></li>
        <li>爱好：
          <span *ngFor="let item of personInfo.hobby;let i=index;">
            <input type="checkbox" [(ngModel)]="item.checked" [id]="'check'+i"><label
              [for]="'check'+i">{{item.title}}</label>
          </span>
        </li>
        <li></li>
        <li><textarea name="personInfo" id="personInfo" cols="30" rows="10" readonly>{{personInfo | json}}</textarea>
        </li>
      </ul>
    </div>
  </div>



  <div>
    <quill-editor [(ngModel)]="editorContent"></quill-editor>
  </div>
</div>